 <html>
        <head>
            <meta charset="UTF-8">
                <style>
                    body { font-family: Arial; }
                    form { width: 300px; }
                    input { width: 100%; padding: 8px; margin-bottom: 10px; }
                    button { padding: 8px 12px; }
                    a { text-decoration: none; }
                </style>
            </head>
            <body>

            <h2>Novo Cliente</h2>
            <a href='/clientes'>← Voltar à lista</a><br><br>

            <form method='POST' action='/guardar'>
                Nome:
                <input name='nome' required>

                Email:
                <input name='email' type='email' required>

                Telefone:
                <input name='telefone'>
                <button type='submit'>Guardar</button>
            </form>
        </body>
    </html>